# Backend
PORT=3000
NODE_ENV=development

# Added in later stages:
# DATABASE_URL=         (Stage 2 — RDS)
# REDIS_URL=            (Stage 6 — ElastiCache)
# COGNITO_USER_POOL_ID= (Stage 4)
# COGNITO_CLIENT_ID=    (Stage 4)
# AWS_REGION=us-east-1
